:root {
	/* CSS variabler, för att undvika att upprepa värden */
	--primary-fg: #281405;
	--primary-bg: #F5DDCA;
	--list-bg: #DC9761;
	--list-bg-alternate: #EBBA95;
}

body {
	margin: 0em;
	padding: 1em;
	background-color: var(--primary-bg);
	color: var(--primary-fg);
}
h1, h2 {
	margin: 0em;
}
.list {
	border: 1px solid var(--primary-fg);
	margin: 0.5em;
	padding: 0em;
}
/* em är relativ till aktuell teckenstorlek (font-size) */
/* px är absolut */
.list > li {
	list-style-type: none;
	margin: 0em;
	padding: 0.5em;
	background-color: var(--list-bg);
	display: flex;
	flex-direction: row;
}
.list > li:nth-child(odd) {
	background-color: var(--list-bg-alternate);
}

.list > li > span:first-child {
	flex-grow: 1;
}
.list > li > span:last-child:hover {
	cursor: pointer;
	/* Tips! Använd transform: scale och transition för att göra så att papperskorgen växer */
}
